In [1]:
import pandas as pd

In [2]:
data= pd.read_csv("../input/test-data/Data Analyst - Test Data.csv")
data.head()

,Review,date,Location,Unnamed: 3
0,I was very impressed with the resort.\n Great ...,2019-08-20,Sebastian,NaN
1,The rooms were nice the outside needs work als...,2019-08-20,Los Angeles,NaN
2,Great location! I have stayed at this hotel on...,2019-08-20,Georgia,NaN
3,The hotel was adequate for my stay. The strips...,2019-08-20,NaN,NaN
4,"Great location, room was large and spacious. P...",2019-08-19,Palm Harbor,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6448 entries, 0 to 6447
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Review      6393 non-null   object
 1   date        6448 non-null   object
 2   Location    1711 non-null   object
 3   Unnamed: 3  0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 201.6+ KB

# Data Cleaning
A lot of location data is missing, sorting the data having null location values and data with non-null location values, also deleting the rows with no review entries

In [4]:
# Data Cleaning



# Seperating null and non-null location data
nulls=[]
non_nulls=[]
for i in range(len(data)):
    if type(data["Location"][i]) is str:
        non_nulls.append(i) #(i) because builtin_function_or_method' object is not subscriptable
        
    else:
        nulls.append(i) #(i) because builtin_function_or_method' object is not subscriptable
        
# Defining a function to make dataframe with speific index of data        
def sep_data(data_list):
    combined_csv = pd.concat([pd.read_csv('../input/test-data/Data Analyst - Test Data.csv', skiprows= i+1, nrows=1, header=None) for i in data_list])
    combined_csv= combined_csv.set_index(i for i in range(len(data_list)))
    combined_csv.columns = data.columns
    
    #removing the entries with null reviews
    combined_csv.dropna(subset = ["Review"], inplace=True)
    combined_csv= combined_csv.reset_index(drop=True) # index reset

    return combined_csv

# Data containing null Location entries
data_nulls= sep_data(nulls)

# Data containing non-null Location entries
data_non_nulls= sep_data(non_nulls)

# Displaying datas
print("Data with null Location entries:")
display(data_nulls)

print("Data with non-null Location entries:")
display(data_non_nulls)

Data with null Location entries:

,Review,date,Location,Unnamed: 3
0,The hotel was adequate for my stay. The strips...,2019-08-20,NaN,NaN
1,All the options for fun were great! Do wish th...,2019-08-19,NaN,NaN
2,Old. Musty. Motel. \n Bath need an update asap...,2019-08-19,NaN,NaN
3,Loved the layout of the hotel and the relaxing...,2019-08-19,NaN,NaN
4,My wife and I loved everything about it. It�s ...,2019-08-19,NaN,NaN
...,...,...,...,...
4683,The New Yorker Hotel in NYC is truly a Great H...,Jul 2019,NaN,NaN
4684,"Staff are slow, rude and belittling. If you lo...",Jul 2019,NaN,NaN
4685,Very good location. I traveled solo and it was...,Jul 2019,NaN,NaN
4686,"Where do I start, the AC IN THE ELEVATORS didn...",Jul 2019,NaN,NaN
4687,My family stayed at The New Yorker for Cosmopo...,Jul 2019,NaN,NaN

Data with non-null Location entries:

,Review,date,Location,Unnamed: 3
0,I was very impressed with the resort.\n Great ...,2019-08-20,Sebastian,NaN
1,The rooms were nice the outside needs work als...,2019-08-20,Los Angeles,NaN
2,Great location! I have stayed at this hotel on...,2019-08-20,Georgia,NaN
3,"Great location, room was large and spacious. P...",2019-08-19,Palm Harbor,NaN
4,Very clean and friendly and I love the locatio...,2019-08-19,California,NaN
...,...,...,...,...
1700,"�the staff were all so friendly. frank, the ch...",2019-07-12,United States of America,NaN
1701,�the internet barely worked or didn't work,2019-07-12,United States of America,NaN
1702,�the location was great.\n \n \n \n \n �the be...,2019-07-10,United States of America,NaN
1703,�we were early for check in and the staff was ...,2019-07-10,United States of America,NaN
1704,"�staff, free coffee, location and activities.\...",2019-07-10,United States of America,NaN

In [5]:
data_nulls= data_nulls.drop(columns= ['Unnamed: 3'])
data_non_nulls= data_non_nulls.drop(columns= ['Unnamed: 3'])

In [6]:
data_nulls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4688 entries, 0 to 4687
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review    4688 non-null   object
 1   date      4688 non-null   object
 2   Location  0 non-null      float64
dtypes: float64(1), object(2)
memory usage: 110.0+ KB

In [13]:
data_non_nulls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review    1705 non-null   object
 1   date      1705 non-null   object
 2   Location  1705 non-null   object
dtypes: object(3)
memory usage: 40.1+ KB

# Saving data for analytics

In [14]:
data_nulls.to_csv('data_null_location.csv',index=False)
data_non_nulls.to_csv('data_non_null_location.csv',index=False)